@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__link/header__link.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./logo/logo.css);
@import url(./logo/_place/logo_place_header.css);


  .header {
    height: 200vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #F2F2F2;
    display: flex;
    overflow: hidden;
}


