
@import url(./table/table.css);
@import url(./table/__cell/table__cell.css);
@import url(./table/__cell/_theme/table__cell_theme_dark.css);
@import url(./table/__heading/table__heading.css);
@import url(./table/__text/table__text.css);
@import url(./table/_theme/table_theme_dark.css);
@import url(./section-title/section-title.css);
@import url(./section-title/_theme/section-title_theme_dark.css);
@import url(./section-subtitle/section-subtitle.css);
@import url(./section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(./__triangle/kaufman__triangle.css);

  .kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1F1F1F;
    position: relative;
    overflow: hidden;
}









